<h4 class="tui-text_h5 tui-space_top-4 tui-space_bottom-4">
  {{ 'PAGE_CONTACT_FORM_TITLE' | translate }}
</h4>

<form [formGroup]="handler.form" (ngSubmit)="handler.submit()">
  <div class="tui-form__row tui-form__row_multi-fields">
    <label [tuiLabel]="'EMAIL' | translate" class="tui-form__multi-field">
      <tui-input
        formControlName="requesterEmail"
        tuiTextfieldSize="m"
        [tuiTextfieldLabelOutside]="true"
      >
        <input tuiTextfield type="email" />
      </tui-input>

      <tui-error
        formControlName="requesterEmail"
        [error]="[] | tuiFieldError | async"
      ></tui-error>
    </label>
  </div>

  <label [tuiLabel]="'SUBJECT' | translate" class="tui-form__row">
    <tui-input
      formControlName="title"
      tuiTextfieldSize="m"
      [tuiTextfieldLabelOutside]="true"
    >
      <input tuiTextfield type="text" />
    </tui-input>

    <tui-error
      formControlName="title"
      [error]="[] | tuiFieldError | async"
    ></tui-error>
  </label>

  <label [tuiLabel]="'YOUR_QUESTION' | translate" class="tui-form__row">
    <tui-textarea
      formControlName="description"
      tuiTextfieldSize="m"
      [tuiTextfieldLabelOutside]="true"
      [maxLength]="2000"
      [expandable]="true"
    >
    </tui-textarea>

    <tui-error
      formControlName="description"
      [error]="[] | tuiFieldError | async"
    ></tui-error>
  </label>

  <div class="tui-form__buttons tui-form__buttons_align_end">
    <button
      tuiButton
      size="m"
      type="submit"
      class="tui-form__button"
      [showLoader]="(handler.loading$ | async) ?? false"
    >
      {{ 'SEND' | translate }}
    </button>
  </div>
</form>
