<tui-root *tuiLet="side.leftSide$ | async as leftSide">
  <ng-container *tuiLet="mobileVisible$ | async as isMobileVisible">
    <eunice-ui-top-bar>
      <eunice-sidebar
        *ngIf="isMobileVisible"
        menu
        class="sidebar-mobile"
        #parent="tuiActiveZone"
        tuiActiveZone
      >
        <eunice-search
          class="search-mobile"
          [tuiActiveZoneParent]="parent"
        ></eunice-search>
        <ng-container *polymorpheusOutlet="leftSide"></ng-container>
      </eunice-sidebar>
      <eunice-search left class="search-desktop"></eunice-search>
    </eunice-ui-top-bar>

    <div class="d-flex">
      <div
        *ngIf="leftSide !== null && !isMobileVisible"
        class="sidebar-desktop"
      >
        <ng-container *polymorpheusOutlet="leftSide"></ng-container>
      </div>

      <div class="tui-container tui-container_adaptive tui-space_bottom-8">
        <router-outlet></router-outlet>
      </div>

      <div>
        <ng-container *polymorpheusOutlet="side.rightSide$ | async as content">
          {{ content }}
        </ng-container>
      </div>
    </div>

    <footer class="tui-space_top-auto">
      <eunice-ui-footer class="tui-space_top-8"></eunice-ui-footer>
    </footer>
  </ng-container>
</tui-root>
