@import '@taiga-ui/core/styles/taiga-ui-local.less';

.preview-unavailable-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--tui-text-02-night);

  .t-icon {
    margin-bottom: 0.75rem;
    transform: scale(4);
    height: 5rem;
  }
}

.preview-loader {
  width: 4rem;
}
