<ng-container *tuiLet="ticketKeepPrevious$ | async as ticket">
  <h3
    class="tui-text_h3 tui-space_top-12 tui-space_bottom-2"
    [class.tui-skeleton]="ticket === null"
  >
    {{ ticket?.title ?? '-' }}
    <tui-badge
      *ngIf="ticket"
      [status]="ticket | ticketToBadgeStatus"
      [value]="'TICKET_STATUS_' + ticket.status | translate"
      [tuiHint]="ticket?.lastStatusChangeBy ? lastStatusChange : null"
    />
  </h3>

  <ng-template #lastStatusChange>
    {{
      'TICKET_LAST_STATUS_CHANGE'
        | translate
          : {
              firstName: ticket?.lastStatusChangeBy?.firstName,
              lastName: ticket?.lastStatusChangeBy?.lastName
            }
    }}
  </ng-template>

  <p class="text-02" [class.tui-skeleton]="ticket === null">
    {{
      'TICKET_ID'
        | translate
          : {
              id: ticket?.id
            }
    }}
  </p>

  <hr />

  <div class="d-flex gap-4 tui-space_top-4">
    <tui-avatar
      [class.tui-skeleton]="ticket === null"
      [text]="ticket?.requesterEmail ?? '-'"
      class="tui-space_top-1"
    />
    <tui-island class="w-full" [class.tui-skeleton]="ticket === null">
      <div class="tui-text_body-s message-info">
        {{ ticket?.requesterEmail }}
        -
        {{ ticket?.requestedTime | localizedDate }}
      </div>
      {{ ticket?.description }}
    </tui-island>
  </div>

  <ng-container *tuiLet="responsesKeepPrevious$ | async as responses">
    <ng-container *ngFor="let message of responses">
      <div class="d-flex gap-4 tui-space_top-4">
        <tui-avatar [text]="message.author" class="tui-space_top-1" />
        <tui-island class="w-full">
          <div class="tui-text_body-s message-info">
            {{ message?.author ?? '-' }}
            -
            {{ message?.responseTime | localizedDate }}
          </div>
          <div>
            {{ message?.content ?? '-' }}
          </div>
        </tui-island>
      </div>
    </ng-container>
  </ng-container>

  <form
    class="tui-space_top-4 tui-space_bottom-4"
    [formGroup]="responseForm"
    *tuiLet="(loading$ | async) ?? false as loading"
  >
    <tui-textarea
      formControlName="content"
      [expandable]="true"
      [pseudoInvalid]="false"
      [class.tui-skeleton]="ticket === null"
      *ngIf="
        ticket === null ||
        ticket?.status === 'NEW' ||
        ticket?.status === 'HANDLED'
      "
    >
      {{ 'TICKET_LEAVE_REPLY' | translate }}
    </tui-textarea>

    <div
      class="tui-form__buttons tui-form__buttons_align_end gap-4"
      [class.tui-skeleton]="ticket === null"
    >
      <button
        *ngIf="
          !token && (ticket?.status === 'NEW' || ticket?.status === 'HANDLED')
        "
        tuiButton
        type="button"
        appearance="secondary-destructive"
        (click)="changeStatus('IRRELEVANT')"
        [showLoader]="loading"
      >
        {{ 'TICKET_MARK_IRRELEVANT' | translate }}
      </button>
      <button
        *ngIf="!token && ticket?.status === 'IRRELEVANT'"
        tuiButton
        type="button"
        appearance="secondary-destructive"
        (click)="changeStatus('DELETED')"
        [showLoader]="loading"
      >
        {{ 'TICKET_MARK_DELETED' | translate }}
      </button>
      <div
        class="group"
        tuiGroup
        *ngIf="
          ticket === null ||
          ticket?.status === 'NEW' ||
          ticket?.status === 'HANDLED'
        "
      >
        <button
          tuiButton
          type="button"
          appearance="secondary"
          [disabled]="responseForm.invalid"
          (click)="sendResponse()"
          [showLoader]="loading"
        >
          {{ 'TICKET_REPLY' | translate }}
        </button>
        <button
          *ngIf="!token"
          tuiButton
          type="submit"
          (click)="changeStatus('RESOLVED')"
          [showLoader]="loading"
        >
          {{ 'TICKET_RESOLVE' | translate }}
        </button>
      </div>
    </div>
  </form>
</ng-container>
