<ng-container *tuiLet="ticket$ | async as ticket">
  <h3 class="tui-text_h3 tui-space_top-4 tui-space_bottom-2">
    {{ ticket?.title }}
    <tui-badge
      *ngIf="ticket"
      [status]="ticket | ticketToBadgeStatus"
      [value]="'TICKET_STATUS_' + ticket.status | translate"
    ></tui-badge>
  </h3>

  <p class="text-02">
    {{
      'TICKET_ID'
        | translate
          : {
              id: ticket?.id
            }
    }}
  </p>

  <hr />

  <ng-container *tuiLet="responses$ | async as responses">
    <ng-container *ngFor="let message of responses">
      <div class="d-flex gap-4 tui-space_top-4">
        <tui-avatar
          [text]="message.author"
          class="tui-space_top-1"
        ></tui-avatar>
        <tui-island class="w-full">
          <div class="tui-text_body-s message-info">
            {{ message?.author }}
            -
            {{ message?.responseTime | localizedDate }}
          </div>
          {{ message?.content }}
        </tui-island>
      </div>
    </ng-container>
  </ng-container>

  <form class="tui-space_top-4 tui-space_bottom-4" [formGroup]="responseForm">
    <tui-textarea
      formControlName="content"
      [expandable]="true"
      [pseudoInvalid]="false"
      *ngIf="ticket?.status === 'NEW' || ticket?.status === 'HANDLED'"
    >
      {{ 'TICKET_LEAVE_REPLY' | translate }}
    </tui-textarea>

    <div class="tui-form__buttons tui-form__buttons_align_end gap-4">
      <button
        *ngIf="ticket?.status === 'NEW' || ticket?.status === 'HANDLED'"
        tuiButton
        type="button"
        appearance="secondary-destructive"
        (click)="changeStatus('IRRELEVANT')"
      >
        {{ 'TICKET_MARK_IRRELEVANT' | translate }}
      </button>
      <button
        *ngIf="ticket?.status === 'IRRELEVANT'"
        tuiButton
        type="button"
        appearance="secondary-destructive"
        (click)="changeStatus('DELETED')"
      >
        {{ 'TICKET_MARK_DELETED' | translate }}
      </button>
      <div
        class="group"
        tuiGroup
        *ngIf="ticket?.status === 'NEW' || ticket?.status === 'HANDLED'"
      >
        <button
          tuiButton
          type="button"
          appearance="secondary"
          class="tui-group__auto-width-item"
          [disabled]="responseForm.invalid"
          (click)="sendResponse()"
        >
          {{ 'TICKET_REPLY' | translate }}
        </button>
        <button tuiButton type="submit" (click)="changeStatus('RESOLVED')">
          {{ 'TICKET_RESOLVE' | translate }}
        </button>
      </div>
    </div>
  </form>
</ng-container>
