<h2 class="tui-text_h2 tui-space_top-14 text-center" *ngIf="showHeader">
  {{ 'UNIVERSITIES_WE_WORK_WITH' | translate }}
</h2>

<div class="universities-grid tui-space_bottom-6">
  <a
    *ngFor="let page of universities$ | async; else: loading; empty: blank"
    tuiIsland
    [routerLink]="['/university', page.university.id, 'page', page.id]"
  >
    <figure class="tui-island__figure">
      <img
        *ngIf="page.university.image"
        height="180"
        width="350"
        [ngSrc]="page.university.image"
        [alt]="page.university.name + ' image'"
      />
    </figure>

    <h3 class="tui-island__title tui-space_bottom-1">{{ page.title }}</h3>
    <p class="tui-island__paragraph">
      <tui-line-clamp [content]="page.description" [linesLimit]="2" />
    </p>
    <p class="tui-island__category">{{ page.university.address }}</p>
  </a>
</div>

<ng-template #loading>
  <tui-island *ngFor="let i of [1, 2, 3, 4, 5, 6]" class="">
    <figure class="tui-island__figure tui-skeleton"></figure>
    <h3 class="tui-island__title tui-space_bottom-1 tui-skeleton">-</h3>
    <p class="tui-island__paragraph tui-skeleton">-</p>
    <p class="tui-island__category tui-skeleton">-</p>
  </tui-island>
</ng-template>

<ng-template #blank>
  <p class="text-center col-span-full tui-text_body-m">
    {{ 'NO_UNIVERSITIES' | translate }}
  </p>
</ng-template>
