<ng-container *tuiLet="files$ | async as files">
  <h4
    class="tui-text_h5 tui-space_top-4 tui-space_bottom-4"
    [class.tui-skeleton]="files === null"
    *ngIf="files?.length !== 0"
  >
    {{ 'PAGE_RESOURCE_LIST_TITLE' | translate }}
  </h4>

  <tui-files
    [max]="5"
    *ngIf="files && files.length > 0"
    class="tui-space_bottom-8"
  >
    <ng-container *ngFor="let file of files; let index = index">
      <ng-container *tuiLet="file.resourceType === ResourceType.LINK as isLink">
        <tui-file
          *tuiItem
          class="tui-file_with-right-icon hide_type"
          [leftContent]="icon"
          [showDelete]="false"
          [showSize]="true"
          [file]="{
            name: file.name + '.',
            src: isLink ? file.path : undefined,
            size: isLink ? undefined : file.size
          }"
          (click)="
            showFile({ file, index, length: files?.length ?? 0 }, !isLink)
          "
          [tuiHint]="
            isLink ? ('THIS_FILE_STORED_OUTSIDE_APP_WARNING' | translate) : null
          "
          tuiHintAppearance="error"
          [tuiHintShowDelay]="0"
        >
          <a
            *ngIf="!isLink"
            tuiIconButton
            [icon]="'tuiIconDownload'"
            target="_blank"
            rel="nofollow"
            (click)="$event.stopPropagation()"
            [href]="'/api/resources/' + file.id + '/download'"
            appearance="flat"
            shape="rounded"
            size="s"
          ></a>
        </tui-file>
        <ng-template #icon>
          <tui-marker-icon mode="link" new size="xs" [src]="file | fileIcon" />
        </ng-template>
      </ng-container>
    </ng-container>
  </tui-files>

  <ng-template #preview let-preview *tuiLet="previewUIState$ | async as state">
    <tui-preview [rotatable]="false" [zoomable]="false" *ngIf="state !== null">
      <tui-preview-title>{{ state.title }}</tui-preview-title>
      <tui-preview-pagination
        [length]="state.pagination.size"
        [index]="state.pagination.index"
        (indexChange)="
          showFile({
            file: files ? files[$event] : undefined,
            index: $event,
            length: files?.length ?? 0
          })
        "
      />

      <a
        tuiIconButton
        tuiPreviewAction
        [icon]="'tuiIconDownload'"
        target="_blank"
        rel="nofollow"
        [href]="'/api/resources/' + state.fileId + '/download'"
      ></a>

      <button
        [icon]="'tuiIconClose'"
        title="Close"
        tuiIconButton
        tuiPreviewAction
        type="button"
        (click)="preview.complete()"
      ></button>

      <img
        *ngIf="!state.loading && state.type === 'url'"
        alt="preview"
        [src]="state.content"
      />

      <div
        *ngIf="!state.loading && state.type === 'unsupported'"
        class="preview-unavailable-container"
      >
        <tui-svg [src]="'tuiIconFileLarge'" class="t-icon" />
        <div>{{ 'PREVIEW_UNAVAILABLE' | translate }}</div>
      </div>

      <tui-loader *ngIf="state.loading" size="xl" class="preview-loader" />
    </tui-preview>
  </ng-template>
</ng-container>
