<form class="max-w-s" [formGroup]="handler.form" (ngSubmit)="handler.submit()">
  <label [tuiLabel]="'OLD_PASSWORD' | translate" class="tui-form__row">
    <tui-input-password
      formControlName="oldPassword"
      tuiTextfieldSize="m"
      [tuiTextfieldLabelOutside]="true"
    >
      <input tuiTextfield type="password" autocomplete="password" />
    </tui-input-password>

    <tui-error
      formControlName="oldPassword"
      [error]="[] | tuiFieldError | async"
    ></tui-error>
  </label>

  <label [tuiLabel]="'NEW_PASSWORD' | translate" class="tui-form__row">
    <tui-input-password
      formControlName="newPassword"
      tuiTextfieldSize="m"
      [tuiTextfieldLabelOutside]="true"
    >
      <input tuiTextfield type="password" autocomplete="new-password" />
    </tui-input-password>

    <tui-error
      formControlName="newPassword"
      [error]="[] | tuiFieldError | async"
    ></tui-error>
  </label>

  <div class="tui-form__buttons tui-form__buttons_align_end">
    <button
      tuiButton
      size="m"
      type="submit"
      class="tui-form__button"
      [showLoader]="(handler.loading$ | async) ?? false"
    >
      {{ 'CHANGE_PASSWORD' | translate }}
    </button>
  </div>
</form>
