@import '@taiga-ui/core/styles/taiga-ui-theme.less';
@import '@taiga-ui/core/styles/taiga-ui-fonts.less';
@import '@taiga-ui/styles/taiga-ui-global.less';
@import '@taiga-ui/core/styles/taiga-ui-local.less';

:root {
  --top-bar-height: 3.9375rem;
}

.t-root-content {
  min-height: 100vh;
}

// Makes alerts appear below the top bar
tui-alert-host > .t-wrapper {
  margin-top: var(--top-bar-height);
}

// Utility styles
.d-flex {
  display: flex;
}

.d-block {
  display: block;
}

.items-center {
  align-items: center;
}

.justify-self-end {
  justify-self: end;
}

.justify-start {
  justify-content: flex-start !important;
}

.w-full {
  width: 100%;
}

.max-w-xs {
  max-width: 22rem;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.text-underline {
  text-decoration: underline !important;
}

.text-02 {
  color: var(--tui-text-02);
}

.details-skeleton .tui-form__row .t-content {
  .tui-skeleton;

  &::before {
    content: 'SKELETON_TEXT';
  }
}

form.form-skeleton [tuiWrapper],
.details-skeleton [tuiWrapper] {
  .tui-skeleton;

  &:after {
    border-radius: inherit;
  }
}

.tui-form__row_multi-fields {
  align-items: flex-start;
}

.cursor-pointer {
  cursor: pointer;
}

.reunice-tree-item-option {
  color: var(--tui-primary);
  transition-property: color;
  transition-duration: var(--tui-duration, 0.3s);
  transition-timing-function: ease-in-out;

  &:hover,
  &._active,
  &:focus {
    color: var(--tui-primary-hover);
  }

  &._selected {
    color: var(--tui-primary);
    font-weight: bold;
  }

  input[type='radio'] {
    display: none;
  }
}

tui-island {
  &[data-appearance='textfield'] {
    box-sizing: border-box;
    border-radius: var(--tui-radius-m);
    padding: 0.6rem var(--tui-padding-m);
    min-height: var(--tui-height-m);
    box-shadow: 0 0.125rem 0.1875rem rgba(0, 0, 0, 0.1);
    .d-flex;
    .items-center;
  }
}
