@import '@taiga-ui/core/styles/taiga-ui-local.less';

.section-border:not(.d-none) {
  display: block;
  border-top: 1px solid var(--tui-base-03);
}

eunice-page-files-list,
eunice-page-contact-form {
  display: block;
}

eunice-page-files-list:not(:empty),
eunice-page-files-list:empty + eunice-page-contact-form {
  border-top: 1px solid var(--tui-base-03);
}

.page-info-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem 2rem;

  @media @tui-tablet {
    flex-direction: column;
  }
}
