<ng-container *tuiLet="page$ | async as page">
  <h3
    class="tui-text_h3 tui-space_top-0 tui-space_bottom-2 d-flex items-center gap-4"
    [class.tui-skeleton]="page === null"
  >
    <span>
      {{ page?.title ?? '-' }}
    </span>
    <span *reuniceUserControlsResource="page" class="tui-space_left-auto">
      <a
        tuiIconButton
        [icon]="'tuiIconEdit'"
        [routerLink]="['/admin/pages', page!.id, 'edit']"
        appearance="secondary"
        [tuiHint]="'EDIT_PAGE' | translate"
      ></a>
    </span>
  </h3>

  <p class="text-02" [class.tui-skeleton]="page === null">
    {{ page?.description ?? '-' }}
  </p>

  <hr />

  <div class="d-block tui-space_vertical-6">
    <tui-editor-socket
      [content]="page?.content ?? '-'"
      [class.tui-skeleton]="page === null"
    ></tui-editor-socket>
  </div>

  <div class="tui-space_bottom-4">
    <reunice-page-resources-list />
    <reunice-page-contact-form *ngIf="page && page.hasContactRequestHandler" />
  </div>

  <hr class="tui-space_top-8" />
  <div
    class="text-02 tui-space_vertical-4 page-info-grid"
    [class.tui-skeleton]="page === null"
    *ngIf="page === null || page.creator"
  >
    <div>
      <a tuiLink [routerLink]="['/university', page?.university?.id]">
        {{ page?.university?.name }}
      </a>
    </div>
    <div>
      {{ 'AUTHOR' | translate }}:
      <a tuiLink [routerLink]="['/authors', page?.creator?.id]">
        {{ page?.creator?.firstName ?? '-' }}
        {{ page?.creator?.lastName ?? '-' }}
      </a>
    </div>

    <ng-container
      *tuiLet="page?.createdOn | localizedDate: 'short' as createdOn"
    >
      <div>
        {{ 'PAGE_PUBLISHED_ON' | translate }}:
        {{ createdOn }}
      </div>

      <ng-container
        *tuiLet="page?.updatedOn | localizedDate: 'short' as updatedOn"
      >
        <div *ngIf="createdOn !== updatedOn">
          {{ 'PAGE_LAST_MODIFIED_ON' | translate }}:
          {{ updatedOn }}
        </div>
      </ng-container>
    </ng-container>
  </div>
</ng-container>
